.collection-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50rem;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  & .title-collection {
    padding: 2.5rem 0rem;
    color: rgba(0, 0, 0, 0.575);

    &:hover {
      cursor: pointer;
    }
  }

  & .preview-row {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
}
